<title>Preview</title>
<% if @movies.empty? %>
  Sorry you don't have any film in the database, please add a new movie to preview the information.
<% else %>
  <div class= "preview">
    <% @movies.in_groups_of(3).each do |group|%>
      <% group.each do |img| %>
        <div class="col-sm-2 col-md-4">
          <%= link_to (image_tag img.image_url(:thumb).to_s, size: "240x300"), img, title: "\"#{img.name}\", Score: #{img.score} " if img %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
