.navbar-custom {
    background-color:#FF3333;
}

.btn-xlarge {
    padding: 9px 18px;
    font-size: 31px;
    text-align: center;
     margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
            border-radius: 0px;
    }
